form {
    padding: 10px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    width: 100%;
}

.offline {
    margin-top: 1rem;
    text-align: center;
    color: darkgray;
    h3 {
        margin: 0;
    }
}