<form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
    <!-- Defect choice select -->
    <mat-form-field>
        <mat-label>Défaut</mat-label>
        <mat-select formControlName="defect" required>
            <mat-option *ngFor="let defect of defects" [value]="defect">{{ defect }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!form.get('defect').valid">Veuillez sélectionner une valeur</mat-error>
    </mat-form-field>

    <!-- Operator's name input -->
    <mat-form-field>
        <mat-label>Nom de l'opérateur</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="form?.get('name')?.errors?.required">Veuillez saisir un nom</mat-error>
        <mat-error *ngIf="form?.get('name')?.errors?.pattern && form.get('name').touched">Nom invalide</mat-error>
    </mat-form-field>

    <!-- Comment field -->
    <mat-form-field>
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <!-- Submit btn -->
    <button mat-raised-button color="primary" [disabled]="!(online$ | async)">Envoyer</button>

    <!-- Offline wrapper -->
    <div *ngIf="!(online$ | async)" class="offline">
        <h3>Vous êtes hors-ligne</h3>
    </div>

    <!-- Loading request -->
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</form>